<div class="wrapper">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <div class="inner">
        <img src="./../assets/imagenes/img.png" alt="" class="image-1" />

        <form action="" method="post">
            <h3>Regístrese</h3>

            <div class="form-holder">
                <span class="lnr lnr-user"></span>
                <input type="text" class="form-control" placeholder="nombre" name="nombre" />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-users"></span>
                <input type="text" class="form-control" placeholder="apellido" name="apellido" id="apellido" />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-indent-decrease"></span>
                <select name="tipo_documento" id="tipo_documento" class="form-control">
                    <option value="CC">Cedula de Ciudadania</option>
                    <option value="TI">Tarjeta de Identidad</option>
                </select>
            </div>
            

            <div class="form-holder">
                <span class="lnr lnr-phone-handset"></span>
                <input type="text" class="form-control" placeholder="Phone Number" name="celular" id="celular" />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-file-add"></span>
                <input type="text" class="form-control" placeholder=" N&uacute;mero de Identificacion" name="identificacion" id="identificacion" />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-smile"></span>
                <input type="text" class="form-control" placeholder="Edad" name="edad" id="edad" />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-heart"></span>
                <input type="text" class="form-control" placeholder="Peso" name="peso" id="peso" />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-envelope"></span>
                <input type="email" class="form-control" placeholder="Correo" name="correo" id="correo" required />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-lock"></span>
                <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password" required />
            </div>

            <div class="form-holder">
                <span class="lnr lnr-lock"></span>
                <input type="password" class="form-control" placeholder="Confirma Contraseña" id="confirmPassword" required />
            </div>

            <!-- <span id="passwordMatchMessage"></span>
            <br />
            <span id="passwordStrengthMessage"></span> -->

            
            <button type="submit" value="Enviar" class="btn-submit" >Send</button>


            <div>
                <br />
                <p>¿Ya estás registrado?</p>
                <a routerLink="/login">
                    <span>Sí</span>
                </a>
            </div>
        </form>

        <img src="./../assets/imagenes/image-2.png" alt="" class="image-2" />
    </div>
</div>
