<mat-toolbar color="primary">
    <span [style.cursor]="'pointer'" routerLink="/index">Home</span>
    <br/>
    <span style="margin-left: 25px;" [style.cursor]="'pointer'" routerLink="/login">Login</span>
    <br/>
    <span style="margin-left: 25px;" [style.cursor]="'pointer'" routerLink="/adduser">Add User</span>
    <br/>
    <span style="margin-left: 25px;" [style.cursor]="'pointer'" routerLink="/chatbot">Chatbot</span>
    <br/>
    <span style="margin-left: 25px;" [style.cursor]="'pointer'" routerLink="/adduser">Add User</span>
    <br/>
    <span style="margin-left: 25px;" [style.cursor]="'pointer'" routerLink="/logout" (click)="logout()">Logout</span>

    </mat-toolbar>